*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  height: 800px;
  border-bottom: 25px solid green;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#87CEEB, #E0F6FF);
}

.gameOver {
  width: 700px;
  height: 500px;
  background-color: blue;
  position: absolute;
  top: 23%;
  left: 33%;
}

h1 {
  font-size: 100px;
}

.duct {
  position: absolute;
  bottom: 0;
  width: 80px;
  animation: duct-animation 3s infinite linear;
}

.mario {
  position: absolute;
  width: 150px;
  bottom: 0;
}

.jump {
  animation: jump 500ms ease-out;
}

.cloud1 {
  position: absolute;
  width: 550px;
  animation: cloud-animation1 40s infinite linear;
}

.cloud2 {
  position: absolute;
  top: 200px;
  width: 450px;
  animation: cloud-animation2 20s infinite linear;
}

@keyframes duct-animation {

  from {
    right: -80px;
  }

  to {
    right: 100%;
  }
}

@keyframes jump {

  0% {
    bottom: 0;
  }

  40% {
    bottom: 180px;
  }

  50% {
    bottom: 180px;
  }

  60% {
    bottom: 180px;
  }

  100% {
    bottom: 0;
  }
}

@keyframes cloud-animation1 {

  from {
    right: -550px;
  }

  to {
   right: 100%;
  }
}

@keyframes cloud-animation2 {

  from {
    right: -550px;
  }

  to {
   right: 100%;
  }
}